@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-pc: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
}

.input:focus + h2 {
  opacity: 1;
  top: -14px;
}